apiVersion: v1
kind: Service
metadata:
  name: capstone-app
  namespace: capstone
  labels:
    app: capstone-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: capstone-app
  sessionAffinity: ClientIP
  externalTrafficPolicy: Local