apiVersion: v1
kind: Service
metadata:
  name: capstone-app
  namespace: capstone
  labels:
    app: capstone-app
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: capstone-app